# Python
__pycache__/
*.py[cod]
*.pyc 
*.pyo 
*.pyd
*.env
*.env.*
.env
.DS_Store
.vscode/
.idea/

# Virtual enviroments
venv/
.env/

# OS-filer
Thumbs.db

# Python cachefiler
__pycache__/
*.py[cod]

#  Paketcache
*.egg-info/
pip-wheel-metadata/

get-pip.py

#Node
node_modules/
dist/
build/
*.log


